---
name: Deploy to the Sketch-Grid EC2 instance
on:
  push:
    branches:
      - main
jobs:
  redeploy_everything:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/ssh_key
          chmod 600 ~/ssh_key
          mkdir -p ~/.ssh
          ssh-keyscan -H 13.62.227.117 >> ~/.ssh/known_hosts

          ssh -i ~/ssh_key ubuntu@13.62.227.117 << 'EOF'
            cd sketch-grid
            git pull origin main
            npm install
            npm run build
            pm2 restart ws-backend
            pm2 restart http-backend
            pm2 restart frontend
          EOF
